/**{
    border:solid 1px red;
}*/
body{
    margin:0;
    background: center;
    text-align: center;
    font-family: sans-serif;
    color: #fefefe;
    background-color: black;
}
.container{
    position:relative;
    width:320px;
    margin:100px auto 0 auto;
    perspective:1000px;
}
.car{
    position: absolute;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    animation:rotate360 40s infinite forwards linear;
}
.image{
    position:absolute;
    width:300px;
    height:187px;
    top:20px;
    left:10px;
    right:10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
}

span{
    margin:auto;
    font-size:2rem;
}
@keyframes rotate360{
    from{
        transform:rotateY(0deg);
    }
    to{
        transform:rotateY(-360deg);
    }
}
.image:nth-child(1){
    background-image: url("https://res.cloudinary.com/digdliiab/image/upload/v1668751201/blank-phone-screen-with-back-phone_53876-143184_eylqk3.jpg");
    transform: rotateY(0deg) translateZ(430px);
}
.image:nth-child(2){
    background-image: url("https://res.cloudinary.com/digdliiab/image/upload/v1668750843/top-view-set-gadgets-purple-neon-light-blue_155003-19114_sktihu.jpg");
    transform: rotateY(40deg) translateZ(430px);
}
.image:nth-child(3){
    background-image: url("https://res.cloudinary.com/digdliiab/image/upload/v1668748860/smartphones-mockup_165789-171.jpg_r0nzc6.jpg");
    transform: rotateY(80deg) translateZ(430px);
}
.image:nth-child(4){
    background-image: url("https://res.cloudinary.com/digdliiab/image/upload/v1668748679/new-iphone-13-vector-mockup-blue-color-with-blank-screen_410639-126.jpg_hesvlf.jpg");
    transform: rotateY(120deg) translateZ(430px);
}
.image:nth-child(5){
    background-image: url("https://res.cloudinary.com/digdliiab/image/upload/v1668751954/02YqCzRGHlaPPIzfK5IcnGV-11.fit_lim.size_1050x_kwqlqj.jpg");
    transform: rotateY(160deg) translateZ(430px);
}
.image:nth-child(6){
    background-image: url("https://res.cloudinary.com/digdliiab/image/upload/v1668752230/OnePlus-10-Pro-3-1_msnajf.jpg");
    transform: rotateY(200deg) translateZ(430px);
}
.image:nth-child(7){
    background-image: url("https://res.cloudinary.com/digdliiab/image/upload/v1669188013/bbfqoi2lEWVwwNEiwebUVClOJBRgrIxpCxRjFEgCPfsYMrofNNRj2zzu-1Krd8fDots_s3h3ji.jpg");
    transform: rotateY(240deg) translateZ(430px);
}
.image:nth-child(8){
    background-image: url("https://res.cloudinary.com/digdliiab/image/upload/v1669187969/10_g612bf.jpg");
    transform: rotateY(280deg) translateZ(430px);
}
.image:nth-child(9){
    background-image: url("https://res.cloudinary.com/digdliiab/image/upload/v1669187895/man-using-mobile-smart-phone-with-global-network-connection-and-picture-id1274394138_kyu4f3.jpg");
    transform: rotateY(320deg) translateZ(430px);
}